// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(350);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

$stars-speed: 240s;

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar $stars-speed linear infinite;

  &.fast {
    animation: accelStar $stars-speed/12 linear,
      animStar $stars-speed/20 $stars-speed/12 linear infinite;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar $stars-speed/2 linear infinite;

  &.fast {
    animation: accelStar $stars-speed/24 linear,
      animStar $stars-speed/40 $stars-speed/24 linear infinite;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar $stars-speed animStar $stars-speed/4 linear infinite;

  &.fast {
    animation: accelStar $stars-speed/48 linear,
      animStar $stars-speed/80 $stars-speed/48 linear infinite;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-4000px);
  }
}

@keyframes accelStar {
  0% { transform: translateY(0); }
  10% { transform: translateY(-100px); }
  20% { transform: translateY(-285px); }
  30% { transform: translateY(-535px); }
  40% { transform: translateY(-850px); }
  50% { transform: translateY(-1230px); }
  60% { transform: translateY(-1675px); }
  70% { transform: translateY(-2185px); }
  80% { transform: translateY(-2760px); }
  90% { transform: translateY(-3335px); }
  100% { transform: translateY(-4000px); }
}
